<div class="main-sidebar sidebar-style" th:fragment="sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/">BuildManager</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">BM</a>
    </div>
    <ul class="sidebar-menu">

      <li><a class="nav-link" href="/login"><i class="far fa-square"></i> <span>TODO:ログイン画面</span></a></li>
      <li><a class="nav-link" href="../front/anken.html"><i class="far fa-square"></i> <span>TODO:案件一覧画面</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">マスタ関連</li>
      <li><a class="nav-link"  id="back" href="/user"><i class="fas far fa-user"></i> <span>ユーザ管理</span></a></li>
      <li><a class="nav-link" href="/customer"><i class="fas far fa-user"></i> <span>顧客管理</span></a></li>
      <li><a class="nav-link" href="/owner"><i class="fas far fa-user"></i> <span>オーナー管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">勤怠管理システム関連</li>
      <li><a class="nav-link" href="/user_yoshino"><i class="fas far fa-user"></i> <span>吉野管理</span></a></li>
      <li><a class="nav-link" href="/destination"><i class="fas far fa-user"></i> <span>出向先管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">チェック項目マスタ関連</li>
      <li><a class="nav-link"  href="/check-change"><i class="fas fa-th"></i> <span
          style="line-height: 1rem">チェック項目グループ<br />登録・変更
        </span></a></li>
      <li><a class="nav-link" href="/check"><i class="fas fa-th"></i> <span>チェック項目管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">工事区分マスタ関連</li>

      <li><a class="nav-link" href="/construction"><i class="fas fa-th-large"></i> <span>工事区分分類管理</span></a></li>
      <li><a class="nav-link" href="/cost"><i class="fas fa-th-large"></i> <span>工事区分管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">メーカー・業者マスタ関連</li>

      <li><a class="nav-link" href="/materials"><i class="fas fa-th-large"></i> <span>資材メーカー管理</span></a></li>
      <li><a class="nav-link" href="/supplier-management"><i class="fas fa-th-large"></i> <span>業者・仕入れ先管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">設備項目</li>
      <li><a class="nav-link" href="/facilities-item"><i class="fas fa-th-large"></i> <span>設備一覧</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">物件マスタ関連</li>

      <li><a class="nav-link" href="/floor-name"><i class="fas fa-map-marker-alt"></i> <span>物件間取り名称管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">権限マスタ関連</li>
      <li><a class="nav-link"  href="/AuthType"><i class="fas far fa-user"></i> <span>権限登録・変更</span></a></li>
      <li><a class="nav-link" href="/auth"><i class="fas far fa-user"></i> <span>権限管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">チェックリスト関連</li>

      <li><a class="nav-link" href="/check-item-group-management"><i class="fas fa-th"></i>
          <span style="line-height: 1rem">チェック項目グループ<br />管理
        </span></a></li>
      <li><a class="nav-link" href="/check-cost"><i class="fas fa-th"></i> <span
          style="line-height: 1rem">チェック項目<br />工事区分管理
        </span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">工事区分関連</li>

      <!-- ----------------------------- -->
      <li class="menu-header">物件関連</li>

      <li><a class="nav-link" id="back" href="/floor-management"><i class="fas fa-map-marker-alt"></i>
          <span>物件管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">業務関連</li>

      <li><a class="nav-link" href="/case"><i class="fas fa-pencil-ruler"></i> <span>案件管理</span></a></li>
      <li><a class="nav-link" href="/estimate"><i class="fas fa-pencil-ruler"></i> <span>見積管理</span></a></li>
      <li><a class="nav-link" href="/accepting-order"><i class="fas fa-pencil-ruler"></i> <span>受注管理</span></a></li>
      <li><a class="nav-link" href="/order"><i class="fas fa-pencil-ruler"></i> <span>発注管理</span></a></li>
      <li><a class="nav-link" href="/claim"><i class="fas fa-pencil-ruler"></i> <span>請求管理</span></a></li>

      <!-- ----------------------------- -->
      <li class="menu-header">工程表</li>
      <li><a class="nav-link" href="kouteihyo.html"><i class="far fa-file-alt"></i> <span>月別工程表出力</span></a></li>

      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
      <li class="menu-header"></li>
    </ul>

  </aside>
  
  <div id="myModal" class="modal">
        <div class="modal-content">
            <p>新規作成した案件情報が登録されていませんが宜しいでしょうか？</p>
            <div class="modal-buttons">
                <button type="button" id="yes_button"  class="btn btn-primary select">はい</button>
                <button type="button" id="no_button"  class="btn btn-primary select">いいえ</button>
            </div>
        </div>
    </div>
    
<script th:src="@{/js/sidebar.js}"></script>
</div>


