<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">

<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title.orders}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">
  
<link rel="stylesheet" th:href="@{/css/modal_window.css}" />
  <style>
    [readonly]{pointer-events:none;} 
    
    /* モーダル全体に対するスタイル */
.modal {
    display: none; /* モーダルは初期状態で非表示 */
    overflow: hidden; /* 背景部分をスクロール不可にする */
    background-color: rgba(0,0,0,0.5); /* 半透明の背景 */
}

.modal-content {
    margin: 5% auto; /* 上から5%の位置で中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px; /* 角を丸くする */
    max-height: 75vh; /* 最大高さを画面の75%に設定 */
    overflow: auto; /* モーダルの中身をスクロール可能にする */
}
  </style>
  

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">

<!-- CSS Libraries -->
<link rel="stylesheet" th:href="@{/node_modules/jqvmap/dist/jqvmap.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs4.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css}">
</head>
<style>
.table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	width: 100%;
}

.table th, .table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.table th {
	background-color: #f2f2f2;
}

</style>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>発注一覧</h1>
          </div>

          <div class="section-body">
            <!-- <p class="section-lead">
              We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>.
            </p> -->

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <a class="" data-toggle="collapse" href="#matter-table" role="button"
                        aria-expand="false" aria-controls="matter-table">案件情報</a>
                      <table class="table table-bordered collapse" id="matter-table">
                        <tbody>
                          <tr>
                            <td class="table-active">顧客名</td>
                            <td><span th:text="${mstCaseForm.customerName}"></span></td>
                            <td class="table-active">物件名</td>
                            <td><span th:text="${mstCaseForm.propertyName}"></span></td>
                            <td class="table-active">種別</td>
                            <td><span th:text="${mstCaseForm.taskSubstance}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">案件名</td>
                            <td><span th:text="${mstCaseForm.matterName}"></span></td>
                            <td class="table-active">訪問日時</td>
                            <td><span>[[${#temporals.format(mstCaseForm.scheduledVisitDatetime,
                                'yyyy-MM-dd HH:mm:ss')}]]</span></td>
                            <td class="table-active">訪問者</td>
                            <td><span th:text="${mstCaseForm.visitName}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">敷金</td>
                            <td><span th:text="${mstCaseForm.securityDeposit}"></span></td>
                            <td class="table-active">賃貸契約日</td>
                            <td><span>[[${#temporals.format(mstCaseForm.rentalContractDate,
                                'yyyy-MM-dd HH:mm:ss')}]]</span></td>
                            <td class="table-active">賃貸契約終了日</td>
                            <td><span>[[${#temporals.format(mstCaseForm.rentalContractEndDate,
                                'yyyy-MM-dd HH:mm:ss')}]]</span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者姓</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.lastName}"></span></td>
                            <td class="table-active">入居者名</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.firstName}"></span></td>
                            <td class="table-active">入居者姓カナ</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.lastNameKana}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者名カナ</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.firstNameKana}"></span></td>
                            <td class="table-active">入居者市外局番</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.areaCode}"></span></td>
                            <td class="table-active">入居者市内局番</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.cityCode}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者電話番号</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.telephoneNumber}"></span></td>
                            <td class="table-active">入居者転居先郵便番号</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.postCode}"></span></td>
                            <td class="table-active">入居者転居先都道府県</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.prefectures}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者転居先住所</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.address}"></span></td>
                            <td class="table-active">入居者転居先建物名</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.buildingName}"></span></td>
                            <td class="table-active">入居者銀行名</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.bankName}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者銀行支店名</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.bankBranchName}"></span></td>
                            <td class="table-active">入居者銀行口座番号</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.bankAccountNumber}"></span></td>
                            <td class="table-active">入居者銀行口座名義</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.bankAccountName}"></span></td>
                          </tr>
                          <tr>
                            <td class="table-active">入居者銀行口座名義カナ</td>
                            <td><span
                              th:text="${mstCaseForm.mstTenantForm.bankAccountNameKana}"></span></td>
                            <td class="table-active">シリンダー番号</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.cylinderNumber}"></span></td>
                            <td class="table-active">備考</td>
                            <td><span th:text="${mstCaseForm.mstTenantForm.note}"></span></td>

                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>                
                <div class="card">
                  <div class="card-body">
                    <th:block th:each="order : ${acceptionOrder}">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                          <h3 style="margin: 0;">発注詳細</h3>
                          <button type="button" class="btn btn-success btn-lg" id="edit_button">編集</button>
                      </div>
                      <br />
                      <div class="order-details">
                        <div class="form-group">
                          <div style="display: flex; align-items: center;">
                              <h6>発注ステータス&emsp;</h6>
                              <input type="text" class="form-control" style="width: 25%;" th:value="${order.orderStatus}" readonly />
                          </div>
                        </div>
                        <div class="form-group">
                        <div style="display: flex; align-items: center;">
                          <h6>業者仕入先名&emsp;</h6>
                          <input type="text" id="venderName" class="form-control" style="width: 25%;" th:value="${order.suppliermanagementName}" readonly data-val="locked"/>&ensp;
                          <button class="btn btn-primary search-button supplier_find"
                           style="display: none; height: 38px; padding: 0 12px; font-size: 14px; line-height: 38px; white-space: nowrap;">検索
                           <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
                          </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 1rem;">
                          <div style="display: flex; align-items: center;">
                          <h6>工事期間&emsp;</h6>
                            <input type="date" class="form-control w-25" style="margin-right: 0.5rem" readonly data-val="locked" 
                               th:value="${#temporals.format(order.conStartDate, 'yyyy-MM-dd')}" />
                            <span style="margin: 0 0.5rem;">～</span>
                            <input type="date" class="form-control w-25"style="margin-left: 0.5rem;" readonly data-val="locked"
                               th:value="${#temporals.format(order.conEndDate, 'yyyy-MM-dd')}" />
                          </div>
                         <br />
                        </div>
                      </div>
                    </th:block>                    
                    <table class="table">
                    <thead>
                    <tr>
                      <th>工事内容</th>
                      <th>メーカー名</th>
                      <th>型番</th>
                      <th>単位</th>
                      <th>単価</th>
                      <th>数量</th>
                      <th>金額</th>
                      <th>備考</th>
                      <th>登録日時</th>
                      <th>変更日時</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                      <th:block th:each="estimate : ${estimate}">
                        <tr th:each="detail : ${acceptionOrderDetail}">
                        <td><input type="text" class="form-control" th:value="${estimate.constructionClassificationName}" readonly /></td>
                        <td style="display: inline-flex; align-items: center;">
                          <input type="text" class="form-control" th:value="${detail.manufacturerName}" readonly data-val="locked"
                                 style="margin-right: 10px; height: 38px; box-sizing: border-box;" id="manufacturerName"/>
                          <button class="btn btn-primary search-button find_button"
                           style="display: none; height: 38px; padding: 0 12px; font-size: 14px; line-height: 38px; white-space: nowrap;">検索
                           <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
                        </td>
                        <td><input type="text" class="form-control" th:value="${detail.modelNumber}" readonly data-val="locked"/></td>
                        <td><input type="text" class="form-control" th:value="${detail.unit}" readonly/></td>
                        <td><input type="text" class="form-control estimate-unit-price" th:value="${detail.unitPrice}" readonly data-val="locked"/></td>
                        <td><input type="text" class="form-control estimate-volume" th:value="${detail.volume}" readonly /></td>
                        <td><input type="text" class="form-control estimate-amount" th:value="${detail.subtotal}" readonly data-val="locked"/></td>
                        <td><input type="text" class="form-control" th:value="${estimate.note}" readonly data-val="locked"/></td>
                        <td>[[${#temporals.format(detail.registrationDatetime, 'yyyy-MM-dd HH:mm')}]]</td>
                        <td>[[${#temporals.format(detail.lastUpdatedDatetime, 'yyyy-MM-dd HH:mm')}]]</td>
                       </tr>
                       <th:block th:each="order : ${acceptionOrder}">
                       <tr>
                         <td colspan="5" rowspan="3">
                          ■鍵所在
                          <textarea th:text="${order.keyLocation}" class="form-control" style="min-height: 120px" ></textarea>
                         </td>
                         <td>小計</td>
                         <td style="display: flex; align-items: center;">
                            <input type="text" class="form-control subtotal" th:value="${order.subtotal}" readonly data-val="locked"
                                   style="margin-right: 5px; height: 38px; box-sizing: border-box;" />
                            <span style="font-size: 14px;">円</span>
                        </td>
                       </tr>
                       <tr>
                        <td>消費税</td>
                        <td style="display: flex; align-items: center;">
                            <input type="text" class="form-control consumption-tax" th:value="${order.consumptionTax}" readonly data-val="locked"
                                   style="margin-right: 5px; height: 38px; box-sizing: border-box;" />
                            <span style="font-size: 14px;">円</span>
                        </td>
                       </tr>
                       <tr>
                        <td>合計</td>
                        <td style="display: flex; align-items: center;">
                            <input type="text" class="form-control total" th:value="${order.total}" readonly data-val="locked"
                                   style="margin-right: 5px; height: 38px; box-sizing: border-box;" />
                            <span style="font-size: 14px;">円</span>
                        </td>
                       </tr>
                       </th:block>
                       </th:block>
                        </tbody>
                    </table>
                    <div class="section-body"  th:each="order : ${acceptionOrder}" >
                      <a th:href="@{/accepting-order/order(id=${mstCaseForm.id})}"
                        class="btn btn-light btn-lg" id="backButton">前の画面へ戻る</a>
                      <button type="button" class="btn btn-success btn-lg" id="changeConfirmButton">変更確認</button>
                      <button type="button" class="btn btn-success btn-lg" id="cancelOrderButton" th:value="${order.id}">この発注を取り消す</button>
                      <button type="button" class="btn btn-success btn-lg" id="confirmOrderButton" th:value="${order.id}">発注を確定する</button>
                      <button type="button" class="btn btn-success btn-lg" id="completeWorkButton" th:value="${order.id}">工事完了</button>
                      <button type="button" class="btn btn-success btn-lg" id="outputOrderButton">発注書出力</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
          </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">Copyright &copy; se-project 2024</div>
        <div class="footer-right">2.3.0</div>
      </footer>
    </div>
    
  <!-- メーカー名用モーダルウィンドウ -->
  <div id="confirmationModal" class="modal">
    <div class="modal-content">
      <h3 >メーカー検索</h3>
      <table class="table table-striped" id="materials-table">
        <thead>
          <tr>
            <th class="text-center">
            </th>
            <th>メーカー名</th>
          </tr>
        </thead>
        <tbody id="tbody">
         <th:block th:each="materials : ${materials}">
           <tr>
            <td>
             <button class="btn btn-primary select"  th:value="${materials.id}">選択</button>
            </td>
              <td>
                <span th:text="${materials.materialsName}" id="materialsName"></span>
              </td>
           </tr>
          </th:block>
        </tbody>
      </table>
      <button type="button" id="cancel_button"  class="btn btn-primary select">キャンセル</button>
    </div>
  </div>
  
  <!-- 業者仕入先用モーダルウィンドウ -->
<div id="supplierModal" class="modal">
  <div class="modal-content">
    <h3>業者仕入先検索</h3>
    <table class="table table-striped" id="suppliers-table">
      <thead>
        <tr>
          <th class="text-center"></th>
          <th>業者仕入先名</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <th:block th:each="supplier : ${suppliers}">
          <tr>
            <td>
              <button class="btn btn-primary select-supplier" th:value="${supplier.id}">選択</button>
            </td>
            <td>
              <span th:text="${supplier.venderName}" id="venderName"></span>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <button type="button" id="cancel_supplier_button" class="btn btn-primary select">キャンセル</button>
  </div>
</div>

<!-- 編集モーダル -->
<div id="model_back">
  <div class="insert" th:replace="common/modal_window :: modal_window(back_modal, '変更した発注情報が反映されていませんが宜しいでしょうか？')"></div>
</div>

<!-- 発注取消 確認モーダル -->
<div id="model_cancel">
  <div class="insert" th:replace="common/modal_window :: modal_window(cancel, 'この発注を取り消しますか？')"></div>
</div>

<!-- 発注取消 完了モーダル -->
<div id="model_cancel_conpletion">
  <div class="insert" th:replace="common/modal_window :: conpletion_window(cancel_conpletion, '注文の取り消しが完了しました。')"></div>
</div>

<!-- 発注確定 確認モーダル -->
<div id="model_confirm">
  <div class="insert" th:replace="common/modal_window :: modal_window(confirm, 'この発注を確定しますか？')"></div>
</div>

<!-- 発注確定 完了モーダル -->
<div id="model_confirm_conpletion">
  <div class="insert" th:replace="common/modal_window :: conpletion_window(confirm_conpletion, '注文の確定が完了しました。')"></div>
</div>

<!-- 工事完了 確認モーダル -->
<div id="constructionModal">
  <div class="insert" th:replace="common/modal_window :: modal_window(construction, 'この発注の工事を完了しますか？')"></div>
</div>

<!-- 工事完了 完了モーダル -->
<div id="completionConstructionModal">
  <div class="insert" th:replace="common/modal_window :: conpletion_window(construction_conpletion, '注文の工事が完了しました。')"></div>
</div>

  <div class="insert" th:insert="~{common/update_end :: update_end}"></div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="@{/assets/js/stisla.js}"></script>




  <script th:inline="javascript">
			var csrfToken = /*[[${csrfToken}]]*/'csrfToken';
			var csrfHeader = /*[[${csrfHeaderName}]]*/'csrfHeader';
		</script>

  <!-- JS Libraies -->
  <script th:src="@{/assets/js/admin/jquery.dataTables.custom.js}"></script>
  <script th:src="@{/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/jquery-ui-dist/jquery-ui.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>
  <script th:src='@{/js/acceptionOrder/acceptionOrder.js}'></script>

  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/modules-datatables.js}"></script>
  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>
  
  <script th:src="@{/js/acceptionOrder/update.js}"></script>
  <script th:src="@{/js/acceptionOrder/find.js}"></script>
  <script th:src="@{/js/acceptionOrder/cancelbutton.js}"></script>
  <script th:src="@{/js/acceptionOrder/confirmbutton.js}"></script>
  <script th:src="@{/js/acceptionOrder/finished.js}"></script>
  

</body>

</html>