<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<title data-th-text="#{title} + #{title.}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">
<!-- CSS Libraries -->
<link rel="stylesheet" th:href="@{/node_modules/jqvmap/dist/jqvmap.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs4.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css}">

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">

<!-- Bootstrap Icons CSS -->
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->

      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>発注管理</h1>
          </div>

          <div class="section-body">
          <h2 class="section-title  mb-1">発注業者選択</h2>
            </div>

            <div class="row">
              <div class="col-12">              
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="supplier-table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>種別<br />業者・仕入先名</th>
                            <th>郵便番号<br />住所、建物名</th>
                            <th>電話番号<br />FAX番号
                            </th>
                            <th>担当部署<br />担当者名
                            </th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          <th:block th:each="supplier : ${supplier}">
                            <tr>
                              <td><a th:href="@{breakdown(caseId=${caseId}, supplierId=${supplier.id}, supplierName=${supplier.venderName})}" class="btn btn-primary">発注</a>
                              <td><span th:text="${supplier.classification}"></span><br>
                              <span th:text="${supplier.venderName}"></span><br /></td>
                              <td><span th:text="${supplier.postCode}"></span><br>
                              <span
                                th:text="${supplier.prefectures} + ${supplier.address} + ${supplier.buildingName}"></span><br /></td>
                               <td><span th:text="${supplier.phone}"></span><br>
                              <span th:text="${supplier.faxNum1}"></span><br /></td>
                               <td><span th:text="${supplier.department} "></span><br>
                              <span th:text="${supplier.staffName}"></span><br /></td>
                            </tr>
                          </th:block>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>
      <div class="insert" th:insert="~{common/footer :: footer}"></div>
    </div>
  </div>
  <div class="insert" th:insert="~{common/update_end :: update_end}"></div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- JS Libraies -->
  <script th:src="@{/assets/js/admin/jquery.dataTables.custom.js}"></script>
  <script th:src="@{/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/jquery-ui-dist/jquery-ui.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>


  <script th:inline="javascript">
			var csrfToken = /*[[${csrfToken}]]*/'csrfToken';
			var csrfHeader = /*[[${csrfHeaderName}]]*/'csrfHeader';
		</script>


  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/modules-datatables.js}"></script>
  <script th:src="@{/js/case/case.js}"></script>

  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>



</body>
</html>
