<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<title data-th-text="#{title} + #{title.VendorSupplier}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<!-- CSS Libraries -->
 <style>
   [readonly]{pointer-events:none;} 
 </style>

<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>業者・仕入れ先管理</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title mb-5">業者・仕入先変更</h2>
            <p class="section-lead">
              <!-- We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>. -->
            </p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/supplier-management/update}" th:object="${mstSupplier}" method="post">
                  <!-- Transaction Token -->
                  <input type="hidden" name="transactionToken" th:value="${transactionToken}">
                 <input type="hidden" th:field="*{id}" th:value="${mstSupplier.id}">
                 <input type="hidden" th:field="*{createdAt}" th:value="${mstSupplier.createdAt}">
                  <div class="card">
                    <div class="card-body">
						
                      <div class="form-group">
                        <h6>
                          種別
                        </h6>
                        <select class="form-control w-50" th:field="*{classification}" disabled>
                          <th:block th:each="select : ${select_supplier}">
                            <option th:value="${select.codeName}"><span th:text="${select.codeName}"></span></option>
                          </th:block>
                        </select>
                      </div>
                                        
                      <div class="form-group">
                        <h6>業者・仕入れ先名<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span></h6>
                        <input type="text" class="form-control" th:field="*{venderName}" th:classappend="${#fields.hasErrors('venderName')} ? 'is-invalid'" disabled/> 
						<small id="" class="invalid-feedback" th:if="${#fields.hasErrors('venderName')}" th:errors="*{venderName}"> </small>
                      </div>
                      <div class="form-group">
                        <h6>
                          郵便番号<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{postCode}" th:classappend="${#fields.hasErrors('postCode')} ? 'is-invalid'" disabled/> 
						<small id="" class="invalid-feedback" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"> </small>
                      </div>
                      <div class="form-group">
                        <h6>
                          都道府県
                        </h6>
                        <select class="form-control w-50" th:field="*{prefectures}" disabled>
                          <th:block th:each="pref : ${prefectures}">
                            <option th:value="${pref.codeName}"><span th:text="${pref.codeName}"></span></option>
                          </th:block>
                        </select>
                      </div>
                      <div class="form-group">
                        <h6>
                          住所<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{address}" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" disabled/>
						   <small id="" class="invalid-feedback" th:if="${#fields.hasErrors('address')}"
                          th:errors="*{address}"></small>
                      </div>
                      <div class="form-group">
                        <h6>建物名</h6>
                        <input type="text" class="form-control" th:field="*{buildingName}" disabled/>
                        <small id="" class="form-text text-muted"> </small>
                      </div>
                      <div class="form-group">
                        <h6>
                          電話番号<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'" disabled/> 
						  <small id="" class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                      </div>
                      <div class="form-group">
                        <h6>FAX番号</h6>
                        <input type="text" class="form-control" th:field="*{faxNum1}" disabled/>
						<small id="" class="form-text text-muted" th:if="${#fields.hasErrors('faxNum1')}" th:errors="*{faxNum1}"></small>
                      </div>
                      <div class="form-group">
                        <h6>
                          メールアドレス<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" disabled/> 
						<small id="" class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> </small>
                      </div>
                      <div class="form-group">
                        <h6>
                          担当部署<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{department}" th:classappend="${#fields.hasErrors('department')} ? 'is-invalid'" disabled/> 
						<small id="" class="invalid-feedback" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"> </small>
                      </div>
                      <div class="form-group">
                        <h6>
                          担当者名<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{staffName}" th:classappend="${#fields.hasErrors('department')} ? 'is-invalid'" disabled/>
						 <small id="" class="invalid-feedback" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"> </small>
                      </div>

                  <div class="section-body">
                    <div class="buttons">
                      <a href="/supplier-management" class="btn btn-light btn-lg" onclick="showConfirmModal(event)">前の画面へ戻る</a>
					  <button type="button" class="btn btn-success btn-lg" id="editButton" onclick="enableEditing()">編集</button>
                      <button type="submit" class="btn btn-success btn-lg" id="confirmButton" disabled>確認</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="insert" th:insert="~{common/footer :: footer}"></div>
    </div>
  </div>

  <!-- 編集モーダル -->
  <div id="model_back">
    <div class="insert"
      th:replace="common/modal_window :: modal_window(back_modal, '変更した業者・仕入先情報が反映されていませんが宜しいでしょうか？')"></div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>
  
  <script th:src="@{/js/Supplier/back.js}"></script>

  <!-- Page Specific JS File -->

</body>
</html>