<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">

<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title.VendorSupplier}  + #{title.register}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">

<!-- CSS Libraries -->
<link rel="stylesheet" th:href="@{/node_modules/jqvmap/dist/jqvmap.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs4.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>業者・仕入れ先管理</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title mb-5">業者・仕入れ先新規登録 確認</h2>
            <p class="section-lead">この情報で登録します。よろしいですか？</p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/supplier-management/save}" th:object="${mstSupplierForm}"
                  method="post">
                  <!-- transactionTokenのhidden input -->
                  <div class="card">
                    <div class="card-body">

                      <!-- 種別 -->
                      <div class="form-group">
                        <h6>
                          種別
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.classification}"></span>
                        </h5>
                        <input type="hidden" th:field="*{classification}"
                          th:value="${mstSupplierForm.classification}">
                      </div>

                      <!-- 業者・仕入れ先名 -->
                      <div class="form-group">
                        <h6>
                        業者・仕入れ先名<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.venderName}"></span>
                        </h5>
                        <input type="hidden" th:field="*{venderName}"
                          th:value="${mstSupplierForm.venderName}"> <small id=""
                          class="form-text text-muted"></small>
                      </div>

                      <!-- 郵便番号 -->
                      <div class="form-group">
                        <h6>
                        郵便番号<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.postCode}"></span>
                        </h5>
                        <input type="hidden" th:field="*{postCode}"
                          th:value="${mstSupplierForm.postCode}"> <small id=""
                          class="form-text text-muted"></small>
                      </div>

                      <!-- 都道府県 -->
                      <div class="form-group">
                        <h6>都道府県</h6>
                        <h5>
                          <span th:text="${mstSupplierForm.prefectures}"></span>
                        </h5>
                        <input type="hidden" th:field="*{prefectures}"
                          th:value="${mstSupplierForm.prefectures}"> <small id=""
                          class="form-text text-muted"></small>
                      </div>

                      <!-- 住所 -->
                      <div class="form-group">
                        <h6>
                          住所<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.address}"></span>
                        </h5>
                        <input type="hidden" th:field="*{address}"
                          th:value="${mstSupplierForm.address}">
                      </div>

                      <!-- 建物名 -->
                      <div class="form-group">
                        <h6>
                          建物名
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.buildingName}"></span>
                        </h5>
                        <input type="hidden" th:field="*{buildingName}"
                          th:value="${mstSupplierForm.buildingName}">
                      </div>

                      <!-- 電話番号 -->
                      <div class="form-group">
                        <h6>
                          電話番号<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.phone}"></span>
                        </h5>
                        <input type="hidden" th:field="*{phone}" th:value="${mstSupplierForm.phone}">
                      </div>

                      <!-- FAX番号 -->
                      <div class="form-group">
                        <h6>
                          FAX番号
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.faxNum1}"></span>
                        </h5>
                        <input type="hidden" th:field="*{faxNum1}"
                          th:value="${mstSupplierForm.faxNum1}">
                      </div>

                      <!-- メールアドレス -->
                      <div class="form-group">
                        <h6>
                        メールアドレス<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.email}"></span>
                        </h5>
                        <input type="hidden" th:field="*{email}" th:value="${mstSupplierForm.email}">
                        <small id="" class="form-text text-muted"></small>
                      </div>

                      <!-- 担当部署 -->
                      <div class="form-group">
                        <h6>
                          担当部署<span class="badge badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.department}"></span>
                        </h5>
                        <input type="hidden" th:field="*{department}"
                          th:value="${mstSupplierForm.department}">
                      </div>
                      <div class="form-group">
                        <h6>
                          担当者名<span class="badge badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <h5>
                          <span th:text="${mstSupplierForm.staffName}"></span>
                        </h5>
                        <input type="hidden" th:field="*{staffName}"
                          th:value="${mstSupplierForm.staffName}">
                      </div>
                      <div class="section-body">
                        <div class="buttons">
                          <!-- 前の画面へ戻るボタン -->
                          <a href="/supplier-management/register" class="btn btn-light btn-lg">前の画面へ戻る</a>
                          <!-- 確認ボタン -->
                          <button type="submit" class="btn btn-success btn-lg">登録</button>
                          <input type="hidden" name="transactionToken"
                            th:value="${transactionToken}">
                        </div>
                      </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer class="main-footer">
        <div class="footer-left">Copyright &copy; se-project 2024</div>
        <div class="footer-right">2.3.0</div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>

  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/modules-datatables.js}"></script>
  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>
</body>
</html>