
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title.claim}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<!-- CSS Libraries -->
<link rel="stylesheet"
  href="../../../develop/volumes/web/static/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
  href="../../../develop/volumes/web/static/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css">

<!-- Template CSS -->
<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/components.css">

<!-- Bootstrap Icons CSS -->
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>請求管理</h1>
          </div>

          <div class="section-body">
            <!-- <h2 class="section-title">DataTables</h2>
            <p class="section-lead">
              We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>.
            </p> -->

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="claim-table">
                        <thead>
                          <tr>
                            <th class="text-center"></th>
                            <th>請求書</th>
                            <th>状況ステータス</th>
                            <th>工事完了日</th>
                            <th>設備一覧</th>
                            <th>工事写真</th>
                            <th>種別<br />案件名
                            </th>
                            <th>合計金額</th>
                            <th>登録日<br />更新日
                            </th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          <th:block th:each=" accepting : ${orderInfoes}" >
                          <th:block th:each=" claim : ${caseInfo}" >
                          <tr>
                            <td>
                              <a th:href="@{/Claim/uchiwake(id=${case.id})}" class="btn btn-primary">内訳</a>
                            </td>
                            <td>
                              <a href="seikyuusyo.html" class="btn btn-primary" style="background-color:red;">請求書作成</a>
                            </td>
                            <td>
                              <div class="form-group mb-0">
                                  <select class="form-control">
                                    <th:block th:each="case : ${situation}">
                                    <option th:value="${case.codeName}"><span th:text="${case.codeName}"></span></option>
                                    </th:block>
                                  </select>
                                </div>
                            </td>
                            
                             <td class="">
                              
                              <span>[[${#temporals.format(accepting.conStartDate,
                                  'yyyy-MM-dd HH:mm:ss')}]]</span><br />[[${#temporals.format(accepting.conEndDate,
                                  'yyyy-MM-dd HH:mm:ss')}]]
                            </td>
                            
                             <td><a href=""><i class="bi bi-cloud-upload"
                                  style="font-size: 25px;"></i></a> <a href=""><i
                                  class="bi bi-cloud-download" style="font-size: 25px;"></i></a></td>

                              <td><a href=""><i class="bi bi-cloud-upload"
                                  style="font-size: 25px;"></i></a> <a href=""><i
                                  class="bi bi-cloud-download" style="font-size: 25px;"></i></a></td>
                            <td class="">
                              <span th:text="${case.caseKind}"></span><br />
                              <span th:block th:text="${case.caseName}"></span>
                            </td>
                            <td class="">
                              <span th:text="${claim.totalAmount}"></span>
                            </td>
                            <td>
                              <span >[[${#temporals.format(claim.createdAt,
                                  'yyyy-MM-dd HH:mm:ss')}]]</span><br />
                              <span >[[${#temporals.format(claim.updatedAt,
                                  'yyyy-MM-dd HH:mm:ss')}]]</span>
                            </td>
                            
                            </tr>
                          </th:block>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">Copyright &copy; se-project 2024</div>
        <div class="footer-right">2.3.0</div>
      </footer>
    </div>
  </div>
  
  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- JS Libraies -->
  <!-- <script src="../../../develop/volumes/web/static/node_modules/datatables/media/js/jquery.dataTables.min.js"></script> -->
  <script src="../../assets/js/admin/jquery.dataTables.custom.js"></script>
  <script
    src="../../../develop/volumes/web/static/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script
    src="../../../develop/volumes/web/static/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
  <script src="../../../develop/volumes/web/static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>
  
  
    <script th:inline="javascript">
      var csrfToken = /*[[${csrfToken}]]*/'csrfToken';
      var csrfHeader = /*[[${csrfHeaderName}]]*/'csrfHeader';
    </script>
  

  <!-- Page Specific JS File -->
  <script src="../../assets/js/page/modules-datatables.js"></script>
   <script th:src="@{/js/claim/claim.js}"></script>

  <script src="../../assets/js/admin/sep.dataTables.common.js"></script>
  <script src="../../assets/js/admin/sep.dataTables.toggle.js"></script>


</body>
</html>
