<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <meta http-equiv="Pragma" content="no-cache"> <!-- pragmaの設定 -->
  <meta http-equiv="Cache-Control" content="no-cache"> <!-- キャッシュ制御 -->
  <title data-th-text="#{title} + #{title.customer} + #{title.register}"></title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>顧客管理</h1>
          </div>
          
          <div class="section-body">
            <h2 class="section-title mb-5">顧客新規登録　確認</h2>
            <p class="section-lead">
              この情報で登録します。よろしいですか？
            </p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/customer/save}" th:object="${mstCustomerForm}" method="post">
                  <!-- transactionTokenのhidden input -->
                  <div class="card">
                    <div class="card-body">
                    
                      <!-- 個人・法人区分 -->
                      <div class="form-group">
                        <h6>個人・法人区分<span class="badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.cust_kind}"></span></h5> 
                        <input type="hidden" th:field="*{cust_kind}" th:value="${mstCustomerForm.cust_kind}">
                      </div>

                      <!-- 法人名 -->
                      <div class="form-group">
                        <h6>法人名</h6>
                        <h5><span th:text="${mstCustomerForm.corpName}"></span></h5>
                        <input type="hidden" th:field="*{corpName}" th:value="${mstCustomerForm.corpName}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 法人名カナ -->
                      <div class="form-group">
                        <h6>法人名カナ</h6>
                        <h5><span th:text="${mstCustomerForm.corpKana}"></span></h5>
                        <input type="hidden" th:field="*{corpKana}" th:value="${mstCustomerForm.corpKana}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 部署 -->
                      <div class="form-group">
                        <h6>部署</h6>
                        <h5><span th:text="${mstCustomerForm.department}"></span></h5>
                        <input type="hidden" th:field="*{department}" th:value="${mstCustomerForm.department}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 姓 -->
                      <div class="form-group w-50 float-left p-1">
                        <h6>姓<span class="badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.lName}"></span></h5>
                        <input type="hidden" th:field="*{lName}" th:value="${mstCustomerForm.lName}">
                      </div>
                      
                      <!-- 名 -->
                      <div class="form-group p-1">
                        <h6>名<span class="badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.fName}"></span></h5>
                        <input type="hidden" th:field="*{fName}" th:value="${mstCustomerForm.fName}">
                      </div>
                      
                      <!-- 姓カナ -->
                      <div class="form-group w-50 float-left p-1">
                        <h6>姓カナ<span class="badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.lNameKana}"></span></h5>
                        <input type="hidden" th:field="*{lNameKana}" th:value="${mstCustomerForm.lNameKana}">
                      </div>
                      
                      <!-- 名カナ -->
                      <div class="form-group p-1">
                        <h6>名カナ<span class="badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.fNameKana}"></span></h5>
                        <input type="hidden" th:field="*{fNameKana}" th:value="${mstCustomerForm.fNameKana}">
                      </div>
                      
                      <!-- 郵便番号 -->
                      <div class="form-group">
                        <h6>郵便番号</h6>
                        <h5><span th:text="${mstCustomerForm.zip}"></span></h5>
                        <input type="hidden" th:field="*{zip}" th:value="${mstCustomerForm.zip}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 都道府県 -->
                     <div class="form-group">
                      <h6>都道府県<span class="badge badge badge-danger ml-1 mt-0">必須</span></h6>
                        <h5><span th:text="${mstCustomerForm.prefectures}"></span></h5> 
                        <input type="hidden" th:field="*{prefectures}" th:value="${mstCustomerForm.prefectures}">
                    </div>
                      
                      
                      <!-- 住所 -->
                      <div class="form-group">
                        <h6>住所</h6>
                        <h5><span th:text="${mstCustomerForm.address1}"></span></h5>
                        <input type="hidden" th:field="*{address1}" th:value="${mstCustomerForm.address1}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 建物名 -->
                      <div class="form-group">
                        <h6>建物名</h6>
                        <h5><span th:text="${mstCustomerForm.address2}"></span></h5>
                        <input type="hidden" th:field="*{address2}" th:value="${mstCustomerForm.address2}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <!-- 電話番号 -->
                      <div class="form-group">
                        <h6>電話番号</h6>
                        <h5><span th:text="${mstCustomerForm.tel}"></span></h5>
                        <input type="hidden" th:field="*{tel}" th:value="${mstCustomerForm.tel}">
                      </div>
                      
                      <!-- 携帯番号 -->
                      <div class="form-group">
                        <h6>携帯番号</h6>
                        <h5><span th:text="${mstCustomerForm.mobile}"></span></h5>
                        <input type="hidden" th:field="*{mobile}" th:value="${mstCustomerForm.mobile}">
                      </div>
                      
                      <!-- メールアドレス -->
                      <div class="form-group">
                        <h6>メールアドレス</h6>
                        <h5><span th:text="${mstCustomerForm.mail}"></span></h5>
                        <input type="hidden" th:field="*{mail}" th:value="${mstCustomerForm.mail}">
                        <small id="" class="form-text text-muted"></small>
                      </div>
                      
                      <input type="hidden" th:field="*{transactionToken}" th:value="${mstCustomerForm.transactionToken}">
                      <input type="hidden" th:field="*{status}" th:value="${mstCustomerForm.status}">
                      
                  <div>
                      <h6>退却立合後メール</h6>
                   　  <p th:if="${mstCustomerForm.mailFlg == true}">メールを送信する</p>
                      <p th:if="${mstCustomerForm.mailFlg == false}">送信しない</p>
                      
                      <input type="hidden" th:field="*{mailFlg}" th:value="${mailFlg}">
                  </div>
                  <div class="form-group">
                      <label class="custom-switch mt-2 pl-0">
                          <input type="checkbox" class="custom-checkbox" data-customer-id="${mstCustomerForm.id}">
                          <span class="custom-switch-description">同じ内容をオーナー情報にも登録する</span>
                      </label>
                  </div>
                      

                  <div class="section-body">
                    <div class="buttons">
                      <!-- 前の画面へ戻るボタン -->
                      <a href="/customer/register" class="btn btn-light btn-lg">前の画面へ戻る</a>
                      <!-- 確認ボタン -->
                      <button type="submit" class="btn btn-success btn-lg">登録</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>
      
      <!-- Footer -->
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; se-project 2024
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>

  <!-- Page Specific JS File -->
  
</body>
</html>
