<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title.owner}+#{title.update}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<!-- CSS Libraries -->
<style>
   [readonly]{pointer-events:none;} 
 </style>

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>オーナー管理</h1>
          </div>
          <div class="section-body">
            <h2 class="section-title mb-5">オーナー変更</h2>
            <p class="section-lead">
              <!-- We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>. -->
            </p>
            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/owner/update}" class="h-adr" th:object="${mstOwnerForm}" method="post"
                  novalidate>
                  <!-- Transaction Token -->
                  <input type="hidden" name="transactionToken" th:value="${transactionToken}">
                  <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                        <h6>
                          顧客名<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <select class="form-control w-50" th:field="*{clientId}" disabled>
                          <th:block th:each="customer : ${customers}">
                            <th:block th:if="${mstOwnerForm.clientId} eq ${customer.id}">
                              <option selected th:value="${customer.id}"><span
                                  th:text="${customer.corpName}"></span></option>
                            </th:block>
                            <th:block th:if="${mstOwnerForm.clientId} ne ${customer.id}">
                              <option th:value="${customer.id}"><span
                                  th:text="${customer.corpName}"></span></option>
                            </th:block>
                          </th:block>
                        </select>
                      </div>
                      <div class="form-group">
                        <h6>
                          個人・法人区分<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <select class="form-control w-50" th:field="*{individual}" disabled>
                          <th:block th:if="${mstOwnerForm.individual} eq 個人">
                            <option selected value="個人">個人</option>
                            <option value="法人">法人</option>
                          </th:block>
                          <th:block th:if="${mstOwnerForm.individual} eq 法人">
                            <option value="個人">個人</option>
                            <option selected value="法人">法人</option>
                          </th:block>
                        </select>
                      </div>

                      <div class="form-group">
                        <h6>オーナー名</h6>
                        <input type="text" class="form-control" th:field="*{corporation}" disabled/> 
						<small id="" class="form-text text-muted"> </small>
                      </div>

                      <div class="form-group">
                        <h6>オーナー名カナ</h6>
                        <input type="text" class="form-control" th:field="*{corporationKana}" disabled/>
                        <small id="" class="form-text text-muted"> </small>
                      </div>

                      <div class="form-group">
                        <h6>部署</h6>
                        <input type="text" class="form-control" th:field="*{department}" th:classappend="${#fields.hasErrors('department')} ? 'is-invalid'" disabled/>
                        <small class="invalid-feedback" th:if="${#fields.hasErrors('department')}"
                          th:errors="*{department}"></small>
                      </div>

                      <div class="form-group w-50 float-left p-1">
                        <h6>
                          姓<span class="badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{lName}" th:classappend="${#fields.hasErrors('lName')} ? 'is-invalid'" disabled/>
						 <small class="invalid-feedback" th:if="${#fields.hasErrors('lName')}" th:errors="*{lName}"></small>
                      </div>

                      <div class="form-group p-1">
                        <h6>
                          名<span class="badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control w-50" th:field="*{fName}" th:classappend="${#fields.hasErrors('fName')} ? 'is-invalid'" disabled/> 
						  <small  class="invalid-feedback" th:if="${#fields.hasErrors('fName')}"
                          th:errors="*{fName}"></small>
                      </div>

                      <div class="form-group w-50 float-left p-1">
                        <h6>
                          姓カナ<span class="badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{lNameKana}"th:classappend="${#fields.hasErrors('lNameKana')} ? 'is-invalid'" disabled/>
                        <small class="invalid-feedback" th:if="${#fields.hasErrors('lNameKana')}" th:errors="*{lNameKana}"></small>
                      </div>

                      <div class="form-group p-1">
                        <h6>
                          名カナ<span class="badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <input type="text" class="form-control w-50" th:field="*{fNameKana}" th:classappend="${#fields.hasErrors('fNameKana')} ? 'is-invalid'" disabled/>
                        <small class="invalid-feedback" th:if="${#fields.hasErrors('fNameKana')}" th:errors="*{fNameKana}"></small>
                      </div>

                      <div class="form-group">
                        <h6>郵便番号</h6>
                        <input type="text" class="form-control p-postal-code" th:field="*{postCode}" th:classappend="${#fields.hasErrors('postCode')} ? 'is-invalid'" disabled/>
						<input type="hidden" class="p-country-name" value="Japan">
						<small id="telHelpBlock" class="form-text text-muted">
                          ハイフンを含まない書式で入力してください </small> 
						<small class="invalid-feedback"  th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></small>
                      </div>

                      <div class="form-group">
                        <h6>
                          都道府県<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span>
                        </h6>
                        <select class="form-control w-50 p-region" th:field="*{prefectures}" disabled>
                          <th:block th:each="pref : ${prefectures}">
                            <th:block th:if="${mstOwnerForm.prefectures} eq ${pref.codeName}">
                              <option selected th:value="${pref.codeName}"><span
                                  th:text="${pref.codeName}"></span></option>
                            </th:block>
                            <th:block th:if="${mstOwnerForm.prefectures} ne ${pref.codeName}">
                              <option th:value="${pref.codeName}"><span
                                  th:text="${pref.codeName}"></span></option>
                            </th:block>
                          </th:block>
                        </select>
                      </div>

                      <div class="form-group">
                        <h6>住所</h6>
                        <input type="text" class="form-control p-locality p-street-address p-extended-address" th:field="*{address}" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" disabled/> 
						  <small  class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
                      </div>

                      <div class="form-group">
                        <h6>建物名</h6>
                        <input type="text" class="form-control" th:field="*{buildingName}" disabled/>
                        <small id="" class="form-text text-muted"> </small>
                      </div>

                      <div class="form-group">
                        <h6>電話番号</h6>
                        <input type="text" class="form-control" th:field="*{phone}" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'"
                          aria-describedby="nameHelpBlock" disabled> 
						<small id="telHelpBlock"  class="form-text text-muted" readonly data-val="locked"> 
						ハイフンを含まない書式で入力してください
                        </small> <small class="invalid-feedback" th:if="${#fields.hasErrors('phone')}"
                          th:errors="*{phone}"></small>
                      </div>

                      <div class="form-group">
                        <h6>携帯番号</h6>
                        <input type="text" class="form-control" th:field="*{mobilePhone}"
                          th:classappend="${#fields.hasErrors('mobilePhone')} ? 'is-invalid'"
                          aria-describedby="nameHelpBlock" disabled> <small id="telHelpBlock"
                          class="form-text text-muted">
						   ハイフンを含まない書式で入力してください
                        </small> <small class="invalid-feedback" th:if="${#fields.hasErrors('mobilePhone')}"
                          th:errors="*{mobilePhone}"></small>
                      </div>

                      <div class="form-group">
                        <h6>メールアドレス</h6>
                        <input type="email" class="form-control" th:field="*{email}"
                          th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" disabled/> <small
                          class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}"></small>
                      </div>
                      <input type="hidden" th:value="${mstOwnerForm.createdAt}"
                        th:field="*{createdAt}"> <input type="hidden"
                        th:value="${mstOwnerForm.status}" id="status" th:field="*{status}"
                        name="status" /> <input type="hidden" th:value="${mstOwnerForm.id}"
                        th:field="*{id}">

                    </div>
                  </div>

                  <div class="section-body">
                    <div class="buttons">
                      <a href="/owner" class="btn btn-light btn-lg" onclick="showConfirmModal(event)">前の画面へ戻る</a>
					  <button type="button" class="btn btn-success btn-lg" id="editButton" onclick="enableEditing()">編集</button>
                      <button type="submit" class="btn btn-success btn-lg" id="confirmButton" disabled>確認</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="insert" th:insert="~{common/footer :: footer}"></div>
    </div>
  </div>
  
    <!-- 編集モーダル -->
  <div id="model_back">
    <div class="insert"
      th:replace="common/modal_window :: modal_window(back_modal, '変更したオーナー情報が反映されていませんが宜しいでしょうか？')"></div>
  </div>
  

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="@{/assets/js/stisla.js}"></script>

  <!-- JS Libraies -->
  <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>

  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/modules-datatables.js}"></script>
  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>
  <script th:src="@{/js/owner/back.js}"></script>
  
</body>
</html>
