<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">

<head>
<meta charset="UTF-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<meta http-equiv="Pragma" content="no-cache">
<!-- pragmaの設定 -->
<meta http-equiv="Cache-Control" content="no-cache">
<!-- キャッシュ制御 -->
<title data-th-text="#{title} + #{title.case}+#{title.update}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<!-- Template CSS -->
<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/components.css">
</head>

<style>
  /* 各行のスタイル */
  tr {
    height: 50px; /* 行の高さを指定 */
  }

  /* 各セルのスタイル */
  td {
    border: none;
    padding: 15px; /* セルの内側の余白を指定 */
    width: 30%;
  }
</style>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>案件管理</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title mb-5">案件変更 確認</h2>
            <p class="section-lead">この情報で変更します。よろしいですか？</p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/case/save-update}" th:object="${mstCaseForm}" method="post">
                  <input type="hidden" th:field="*{id}" th:value="${mstCaseForm.id}" />
                  <input type="hidden" th:field="*{transactionToken}" th:value="*{transactionToken}">
                  <!-- transactionTokenのhidden input -->

                  <div class="card">
                    <div class="card-body">
                      <div class="form-group">
                        <table style="border-collapse: collapse; width: 100%;">
                          <tr>
                            <td><h6>顧客名<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.customerName}"></span></h5>
                              <input type="hidden" th:field="*{customerName}" th:value="${mstCaseForm.customerName}">
                              <input type="hidden" th:field="*{customerId}" th:value="${mstCaseForm.customerId}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>物件名<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.propertyName}"></span></h5>
                              <input type="hidden" th:field="*{propertyName}" th:value="${mstCaseForm.propertyName}">
                              <input type="hidden" th:field="*{propertyId}" th:value="${mstCaseForm.propertyId}">
                              <small  id="" class="form-text text-muted"></small>
                            </td>
                          </tr>
                          
                          <tr>
                            <td><h6>種別<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.taskSubstance}"></span></h5>
                              <input type="hidden" th:field="*{taskSubstance}" th:value="${mstCaseForm.taskSubstance}">
                              <small id="" class="form-text text-muted"></small>
                            </td>
                          </tr>

                          <tr>
                            <td><h6>案件名<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.matterName}"></span></h5>
                              <input type="hidden" th:field="*{matterName}" th:value="${mstCaseForm.matterName}">
                              <small id="" class="form-text text-muted"></small>
                            </td>
                          </tr>

                          <tr>
                            <td><h6>訪問予定日時</h6></td>
                            <td>
                              <h5>[[${#temporals.format(mstCaseForm.scheduledVisitDatetime,'yyyy-MM-dd HH:mm')}]]
                              </h5><input type="hidden" th:field="*{scheduledVisitDatetime}" th:value="${mstCaseForm.scheduledVisitDatetime}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>訪問担当者</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.visitName}"></span></h5>
                              <input type="hidden" th:field="*{visitName}" th:value="${mstCaseForm.visitName}">
                              <input type="hidden" th:field="*{visitId}" th:value="${mstCaseForm.visitId}">
                            </td>
                          </tr>


                          <tr>
                            <td><h6>賃貸契約日</h6></td>
                            <td>
                              <h5>[[${#temporals.format(mstCaseForm.rentalContractDate,'yyyy-MM-dd HH:mm')}]] 
                              </h5><input type="hidden" th:field="*{rentalContractDate}" th:value="${mstCaseForm.rentalContractDate}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>賃貸契約終了日</h6></td>
                            <td>
                              <h5>[[${#temporals.format(mstCaseForm.rentalContractEndDate,'yyyy-MM-dd HH:mm')}]]
                              </h5><input type="hidden" th:field="*{rentalContractEndDate}" th:value="${mstCaseForm.rentalContractEndDate}">
                              <input type="hidden" th:field="*{mstTenantForm.id}" th:value="*{mstTenantForm.id}">
                            </td>
                          </tr>
                      
                          <tr>
                            <td><h6>入居者性</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.lastName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.lastName}" th:value="${mstCaseForm.mstTenantForm.lastName}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者名</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.firstName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.firstName}" th:value="${mstCaseForm.mstTenantForm.firstName}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者姓カナ</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.lastNameKana}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.lastNameKana}" th:value="${mstCaseForm.mstTenantForm.lastNameKana}">
                            </td>
                          </tr>
                      
                          <tr>
                            <td><h6>入居者名カナ</h6></td>
                            <td>
                                <h5><span th:text="${mstCaseForm.mstTenantForm.firstNameKana}"></span></h5>
                                <input type="hidden" th:field="*{mstTenantForm.firstNameKana}" th:value="${mstCaseForm.mstTenantForm.firstNameKana}" >
                            </td>
                          </tr>
                      
                          <tr>
                            <td><h6>入居者電話番号</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.telephoneNumber}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.telephoneNumber}" th:value="${mstCaseForm.mstTenantForm.telephoneNumber}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者転居先郵便番号</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.postCode}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.postCode}" th:value="${mstCaseForm.mstTenantForm.postCode}">
                              <small id="" class="form-text text-muted"></small>
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者転居先都道府県</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.prefectures}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.prefectures}" th:value="${mstCaseForm.mstTenantForm.prefectures}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者転居先住所</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.address}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.address}" th:value="${mstCaseForm.mstTenantForm.address}">
                              <small id="" class="form-text text-muted"></small>
                            </td>
                          </tr>
                     
                          <tr>
                            <td><h6>入居者転居先建物名</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.buildingName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.buildingName}" th:value="${mstCaseForm.mstTenantForm.buildingName}">
                              <small id="" class="form-text text-muted"></small>
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者銀行</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.bankName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.bankName}" th:value="${mstCaseForm.mstTenantForm.bankName}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者銀行支店名</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.bankBranchName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.bankBranchName}" th:value="${mstCaseForm.mstTenantForm.bankBranchName}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者口座番号</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.bankAccountNumber}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.bankAccountNumber}" th:value="${mstCaseForm.mstTenantForm.bankAccountNumber}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者口座名義</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.bankAccountName}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.bankAccountName}" th:value="${mstCaseForm.mstTenantForm.bankAccountName}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>入居者口座名義カナ</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.bankAccountNameKana}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.bankAccountNameKana}" th:value="${mstCaseForm.mstTenantForm.bankAccountNameKana}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>シリンダー番号</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.cylinderNumber}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.cylinderNumber}" th:value="${mstCaseForm.mstTenantForm.cylinderNumber}">
                            </td>
                          </tr>

                          <tr>
                            <td><h6>備考</h6></td>
                            <td>
                              <h5><span th:text="${mstCaseForm.mstTenantForm.note}"></span></h5>
                              <input type="hidden" th:field="*{mstTenantForm.note}" th:value="${mstCaseForm.mstTenantForm.note}">
                            </td>
                          </tr>
                         </table>
                        </div>


                      <input type="hidden" th:field="*{transactionToken}" th:value="${transactionToken}">
                        
                      <input type="hidden" th:field="*{situationStatus}">
                      <input type="hidden" th:field="*{registrationDatetime}">


                      <div class="section-body">
                        <div class="buttons">
                          <!-- 前の画面へ戻るボタン -->
                          <a href="javascript:history.back();" class="btn btn-light btn-lg">前の画面へ戻る</a>
                          <!-- 確認ボタン -->
                          <button type="submit" class="btn btn-success btn-lg">変更</button>
                        </div>
                      </div>
                     </div>
                    </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer class="main-footer">
        <div class="footer-left">Copyright &copy; se-project 2024</div>
        <div class="footer-right">2.3.0</div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>

  <!-- Page Specific JS File -->

</body>
</html>
