<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  name="viewport">
<title data-th-text="#{title} + #{title. property}"></title>

<!-- General CSS Files -->
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

<!-- CSS Libraries -->

<style>
   [readonly]{pointer-events:none;} 
 </style>
 
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>物件管理</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title mb-5">物件変更</h2>
            <p class="section-lead">
              <!-- We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>. -->
            </p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/floor-management/update}" class="h-adr" th:object="${mstFloorManagementForm}" method="post">
                 <!-- Transaction Token -->
                  <input type="hidden" name="transactionToken" th:value="${transactionToken}">
                  <input type="hidden" name="id" th:field="*{id}" th:value="${mstFloorManagementForm.id}">                  
                <div class="card">
                  <div class="card-body">                   
                  
                    <div class="form-group">
                      <h6>顧客名<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span></h6>
                      <select class="form-control w-50" th:field="*{customerId}" disabled>
                        <th:block th:each="cus : ${customer}">
                          <th:block th:if="${mstFloorManagementForm.customerId} eq ${cus.id}">
                           <option selected th:value="${cus.id}" ><span th:text="${cus.corpName}"></span></option>  
                          </th:block>
                          <th:block th:if="${mstFloorManagementForm.customerId} ne ${cus.id}">
                           <option th:value="${cus.id}"><span th:text="${cus.corpName}"></span></option>
                          </th:block>
                        </th:block> 
                            <input type="hidden" th:field="*{customerName}" th:value="${mstFloorManagementForm.customerName}" />
                      </select>
                    </div>                                                                           

                    <div class="form-group">
                      <h6>オーナー名<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span></h6>
                      <select class="form-control w-50" th:field="*{ownerId}" disabled>
                        <th:block th:each="owner : ${owner}">
                          <th:block th:if="${mstFloorManagementForm.ownerId} eq ${owner.id}">
                           <option selected th:value="${owner.id}" ><span th:text="${owner.lName}"></span>
                           <span th:text="${owner.fName}"></span></option>
                          </th:block>
                          <th:block th:if="${mstFloorManagementForm.ownerId} ne ${owner.id}">
                           <option th:value="${owner.id}"><span th:text="${owner.lName}"></span>
                           <span th:text="${owner.fName}"></span></option>
                          </th:block>
                        </th:block> 
                            <input type="hidden" th:field="*{ownerName}" th:value="${mstFloorManagementForm.ownerName}" />
                      </select>
                    </div>

                      <div class="form-group">
                        <h6>物件名</h6>
                        <input type="text" class="form-control" th:field="*{floorName}"
                          th:classappend="${#fields.hasErrors('floorName')} ? 'is-invalid'" disabled/>
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('floorName')}" th:errors="*{floorName}"></small>
                      </div>
                      
                      <div class="form-group">
                        <h6>間取り</h6>
                        <input type="text" class="form-control" th:field="*{arrangement}"
                          th:classappend="${#fields.hasErrors('arrangement')} ? 'is-invalid'" disabled/>
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('arrangement')}" th:errors="*{arrangement}"></small>
                      </div>
                      
                      <div class="form-group">
                        <h6>家賃</h6>
                        <input type="text" class="form-control" th:field="*{rent}"
                          th:classappend="${#fields.hasErrors('rent')} ? 'is-invalid'" disabled/>
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('rent')}" th:errors="*{rent}"></small>
                      </div>
                      
                      <div class="form-group">
                        <h6>敷金</h6>
                        <input type="text" class="form-control" th:field="*{securityDeposit}"
                          th:classappend="${#fields.hasErrors('securityDeposit')} ? 'is-invalid'" disabled/>
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('securityDeposit')}" th:errors="*{securityDeposit}"></small>
                      </div>

                      <div class="form-group">
                      <h6>郵便番号</h6>
                     <input type="text" class="form-control p-postal-code" th:field="*{postCode}" 
                      th:classappend="${#fields.hasErrors('postCode')} ? 'is-invalid'" disabled/> 
					  <input type="hidden" class="p-country-name" value="Japan">
					  <small id="telHelpBlock" class="form-text text-muted"> ハイフンを含まない書式で入力してください </small>
                          <small class="invalid-feedback" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></small>                  
                    </div>    

                     <div class="form-group">
                      <h6>都道府県<span class="badge badge badge-danger ml-1 mt-0 required-badge" style="display: none;">必須</span></h6>
                      <select class="form-control w-50 p-region" th:field="*{prefectures}" disabled>
                         <th:block th:each="pref : ${prefectures}">
                            <th:block th:if="${mstFloorManagementForm.prefectures} eq ${pref.codeName}" >
                              <option selected th:value="${pref.codeName}"><span th:text="${pref.codeName}"></span></option>
                            </th:block>
                            <th:block th:if="${mstFloorManagementForm.prefectures} ne ${pref.codeName}" >
                              <option th:value="${pref.codeName}"><span th:text="${pref.codeName}"></span></option>
                            </th:block>
                         </th:block>
                      </select>
                    </div>

                      <div class="form-group">
                        <h6>住所</h6>
                        <input type="text" class="form-control p-locality p-street-address p-extended-address" th:field="*{address}"
                          th:value="${mstFloorManagementForm.address}" disabled/>
                      </div>
                      
                      <div class="form-group">
                        <h6>建物名</h6>
                        <input type="text" class="form-control" th:field="*{buildingName}"
                          th:value="${mstFloorManagementForm.buildingName}" disabled/>
                      </div>
                        
                      <div class="form-group">
                        <h6>
                          電話番号<span class="badge badge-danger ml-1 mt-0"></span>
                        </h6>
                        <input type="tel" class="form-control" aria-describedby="telHelpBlock"
                          th:field="*{phone}" th:value="${mstFloorManagementForm.phone}" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'" disabled/>
                          <small class="form-text text-muted"> ハイフンを含まない書式で入力してください </small> 
							<small class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                      </div>
                      
                      <div class="form-group">
                        <h6>
                          携帯番号<span class="badge badge-danger ml-1 mt-0"></span>
                        </h6>
                        <input type="tel" class="form-control" aria-describedby="telHelpBlock"
                          th:field="*{mobilePhone}" th:value="${mstFloorManagementForm.mobilePhone}" th:classappend="${#fields.hasErrors('mobilePhone')} ? 'is-invalid'" disabled/>
                          <small class="form-text text-muted"> ハイフンを含まない書式で入力してください </small> 
							<small class="invalid-feedback" th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}"></small>
                      </div>

                      <div class="form-group">
                        <h6>坪数</h6>
                        <input type="text" class="form-control" th:field="*{area}"
                          th:value="${mstFloorManagementForm.area}" disabled/>
                      </div>
        

                      <input type="hidden" th:field="*{createdAt}" th:value="${mstFloorManagementForm.createdAt}">
              
              
                  <div class="section-body">
                    <div class="buttons">
                      <a href="/floor-management" class="btn btn-light btn-lg" onclick="showConfirmModal(event)">前の画面へ戻る</a>
					  <button type="button" class="btn btn-success btn-lg" id="editButton" onclick="enableEditing()">編集</button>
                      <button type="submit" class="btn btn-success btn-lg" id="confirmButton" disabled>確認</button>
                    </div>
                  </div>
                  </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="insert" th:insert="~{common/footer :: footer}"></div>
    </div>
  </div>
  
    <!-- 編集モーダル -->
  <div id="model_back">
    <div class="insert"
      th:replace="common/modal_window :: modal_window(back_modal, '変更した物件情報が反映されていませんが宜しいでしょうか？')"></div>
  </div>
  

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <!-- JS Libraies -->
  <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>
  
  <script th:src="@{/js/Supplier/Supplier_edit.js}"></script>

  <script th:src="@{/js/floor/back.js}"></script>

</body>
</html>
