<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport"><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title. constructionClassification}+#{title.update}"></title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet"
   th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet"
   th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">
  
  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/components.css}">
</head>

<style>
  /* 各行のスタイル */
  tr {
    height: 50px; /* 行の高さを指定 */
  }

  /* 各セルのスタイル */
  td {
    border: none;
    padding: 15px; /* セルの内側の余白を指定 */
    width: 30%;
  }
</style>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>工事区分管理</h1>
          </div>          
          <div class="section-body">
            <h2 class="section-title mb-5">工事区分変更　確認</h2>
            <p class="section-lead">
              この情報で変更します。よろしいですか？
            </p>
            <div class="row">
              <div class="col-12 col-lg-8">
                <form method="post" th:object="${mstCostForm}" th:action="@{/cost/saveUpdate}">
                <div class="card">
                  <div class="card-body">
                      <div class="form-group">
                        <table style="border-collapse: collapse; width: 100%;">
                          <tr>
                            <td><h6>顧客名<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCostForm.custName}"></span></h5> 
                              <input type="hidden" th:field="*{custName}" th:value="${mstCostForm.custName}">
                              <input type="hidden" th:field="*{custId}" th:value="${mstCostForm.custId}">
                            </td>
                          </tr>
                      
                          <tr>
                            <td><h6>工事区分分類<span class="badge badge-danger ml-1 mt-0">必須</span></h6></td>
                            <td>
                              <h5><span th:text="${mstCostForm.groupName}"></span></h5> 
                              <input type="hidden" th:field="*{groupName}" th:value="${mstCostForm.groupName}">
                              <input type="hidden" th:field="*{costGroupId}" th:value="${mstCostForm.costGroupId}">
                            </td>
                          </tr>
                      
                          <tr>
                            <td><h6>表示順</h6></td>
                            <td>
                              <h5><span th:text="${mstCostForm.viewDetail}"></span></h5> 
                              <input type="hidden" class="form-control" th:value="${mstCostForm.viewDetail}">
                              <input type="hidden" th:field="*{viewDetail}" th:value="${mstCostForm.viewDetail}">
                            </td>
                          </tr>
                               
                      	  <tr>
                            <td><h6>作業内容</h6></td>
                            <td>
                              <h5><span th:text="${mstCostForm.costContents}"></span></h5> 
                              <input type="hidden" class="form-control" th:value="${mstCostForm.costContents}">
                              <input type="hidden" th:field="*{costContents}" th:value="${mstCostForm.costContents}">
                            </td>
                          </tr>
                      
                    	 <tr>
                          <td><h6>単位<span class="badge badge badge-danger ml-1 mt-0">必須</span></h6></td>
                          <td>
                            <h5><span th:text="${mstCostForm.costUnitId}"></span></h5> 
                            <input type="hidden" th:field="*{costUnitId}" th:value="${mstCostForm.costUnitId}">
                          </td>
                        </tr>
                    
                        <tr>
                          <td><h6>原状回復工事費用承諾書用単価</h6></td>
                          <td>
                            <h5><span th:text="${mstCostForm.costPrice}"></span></h5> 
                            <input type="hidden" class="form-control" th:value="${mstCostForm.costPrice}">
                            <input type="hidden" th:field="*{costPrice}" th:value="${mstCostForm.costPrice}">
                          </td>
                        </tr>
                        
                        <tr>
                          <td><h6>見積用単価</h6></td>
                          <td>
                            <h5><span th:text="${mstCostForm.costPrice2}"></span></h5> 
                            <input type="hidden" class="form-control" th:value="${mstCostForm.costPrice2}">
                            <input type="hidden" th:field="*{costPrice2}" th:value="${mstCostForm.costPrice2}">
                          </td>
                        </tr>
                      </table>
                    </div>
                      
                    <input type="hidden" th:field="*{transactionToken}" th:value="${mstCostForm.transactionToken}">
                    <input type="hidden" th:field="*{status}" th:value="${mstCostForm.status}">                    
                    <input type="hidden" th:field="*{id}" th:value="${mstCostForm.id}" />
                     <input type="hidden" th:field="*{createAt}" th:value="${mstCostForm.createAt}">
                
                </div>
                </div>
                <div class="section-body">
                  <div class="buttons">
                    <a th:href="@{/cost/update(id=${mstCostForm.id})}"
                                class="btn btn-primary">前の画面へ戻る</a>
                    <button type="submit" class="btn btn-success btn-lg">変更</button>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
       <div class="insert" th:insert="~{common/footer :: footer}"></div>
    </div>
  </div>
  
  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="@{/assets/js/stisla.js}"></script>

  <!-- JS Libraies -->
 
  <!-- Template JS File -->
 <script th:src="@{/assets/js/scripts.js}"></script> 
   <script th:src="@{/assets/js/custom.js}"></script> 

  <!-- Page Specific JS File -->
   <script th:src="@{/assets/js/page/modules-datatables.js}"></script>
  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>
  
</body>
</html>
