<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport"><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title. constructionClassification}"></title>
 

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

 <link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
<link rel="stylesheet"
  th:href="@{/node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css}">

<!-- Template CSS -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/components.css}">
<link rel="stylesheet" th:href="@{/assets/css/settings.css}">

<!-- CSS Libraries -->
<link rel="stylesheet" th:href="@{/node_modules/jqvmap/dist/jqvmap.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/summernote/dist/summernote-bs4.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>
    

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>工事区分管理</h1>
          </div>

          <div class="section-body">
            <!-- 検索フォームの追加 -->
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="costSearchButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">工事区分検索</button>
              <div class="dropdown-menu w-100 p-4 rounded border border-dark"
                aria-labelledby="costSearchButton">
                <form th:action="@{/cost/search}" th:object="${mstCost}" method="get">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="customerName">顧客名</label> <input type="text" class="form-control"
                      th:field="*{custName}" id="customerName">
                  </div>
                   <div class="form-group col-md-2">
                    <label for="costGroupName">工事区分分類</label> <input type="text"
                      class="form-control" th:field="*{groupName}" id="costGroupName">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="costContents">作業内容</label> <input type="text" class="form-control"
                      th:field="*{costContents}" id="costContents">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="costPrice">現状回復工事費承諾書用単価</label> <input type="text" class="form-control"
                      th:field="*{costPrice1}" id="costPrice">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="costPrice2">見積用単価</label> <input type="text" class="form-control"
                      th:field="*{costPrice3}" id="costPrice2">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="status">ステータス</label> <select id="status" class="form-control"
                      th:field="*{status}">
                      <option value=""></option>
                      <option value="active">有効</option>
                      <option value="inactive">無効</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="dateFrom">登録日</label> <input type="date" class="form-control"
                      th:field="*{createAt1}" id="dateFrom">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="updateDate">更新日</label> <input type="date" class="form-control"
                      th:field="*{updatedAt1}" id="updateDate">
                  </div>
                  <div class="form-group col-md-2 align-self-end">
                    <button type="submit" class="btn btn-primary">検索</button>
                    <button type="reset" class="btn btn-secondary">リセット</button>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- 検索フォームの追加終了 -->

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <a th:href="@{/cost/register}" class="btn btn-primary btn-lg w-25 ml-1 btn-square mt-2">新規作成</a>
                  
                      <form method="post" th:action="@{/cost/upload}" class="upload-form">
                       <button type="submit" class="btn btn-primary btn-lg fas fa-upload" id="uploadButton" title="アップロード"></button>
                      </form>
                     
                   <form method="post" th:action="@{/cost/download}" th:object="${searchCost}" class="download-form">
                   <input type="hidden" class="form-control" th:field="*{custName}" th:value="${searchCost.custName}" id="custName">
                    <input type="hidden" class="form-control" th:field="*{groupName}" th:value="${searchCost.groupName}" id="groupName">
                    <input type="hidden" class="form-control" th:field="*{costContents}" th:value="${searchCost.costContents}" id="costContents">
                    <input type="hidden" class="form-control" th:field="*{costPrice1}" th:value="${searchCost.costPrice1}" id="costPrice1">
                    <input type="hidden" class="form-control" th:field="*{costPrice3}" th:value="${searchCost.costPrice3}" id="costPrice3">
                    <input type="hidden" class="form-control" th:field="*{status}" th:value="${searchCost.status}" id="status">
                    <input type="hidden" class="form-control" th:field="*{createAt1}" th:value="${searchCost.createAt1}" id="createAt1">
                    <input type="hidden" class="form-control" th:field="*{updatedAt1}" th:value="${searchCost.updatedAt1}" id="updatedAt1">
                    <button type="submit" class="btn btn-primary btn-lg btn-download"
                         id="downloadButton" title="ダウンロード"><i class="fas fa-download"></i></button>
                    </form>
                </div>
				
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped" id="cost-table">
                      <thead>
                        <tr>
                          <th class="text-center"></th>
                          <th>ステータス</th>
                          <th>表示順</th>
                          <th>顧客名</th>
                          <th>工事区分分類</th>
                          <th>作業内容</th>
                          <th>現状回復工事費用承諾書用単価</th>
                          <th>見積用単価</th>
                          
                          <th>登録日<br />更新日
                          </th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        <th:block th:each="cost: ${cost}">
                          <tr>
                            <td><a th:href="@{/cost/update(id=${cost.id})}"
                              class="btn btn-primary">変更</a></td>
                            <td>
                              <div class="form-group mb-0">
                                <th:block th:if="${cost.status} eq ${statusTrue}">
                                  <label class="custom-switch mt-2 pl-0"> <input id="id"
                                    type="checkbox" name="custom-switch-checkbox"
                                    th:attr="data-cost-id=${cost.id}" class="custom-switch-input"
                                    checked> <span class="custom-switch-indicator"></span> <span
                                    class="custom-switch-description">有効</span>
                                  </label>
                                </th:block>
                                <th:block th:if="${cost.status} ne ${statusTrue}">
                                  <label class="custom-switch mt-2 pl-0"> <input id="id"
                                    type="checkbox" name="custom-switch-checkbox"
                                    th:attr="data-cost-id=${cost.id}" class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span> <span
                                    class="custom-switch-description">無効</span>
                                  </label>
                                </th:block>

                              </div>
                            </td>
                            <td>
                              <div class="form-group mb-0">
                                <input th:id="${cost.id}" type="text"
                                  class="form-control form-control-lg w-75 float-left"
                                  name="CostUpdate" autofocus th:value="${cost.viewDetail}"/>

                              </div>
                            </td>

                            <td><span th:text="${cost.custName}"> <span hidden="hideen"
                                id="id" th:text="${cost.id}"> </span></span></td>
                            <td><span th:text="${cost.groupName}"></span></td>
                            <td><span th:text="${cost.costContents}"></span></td>
                            <td><span th:text="${cost.costPrice}"></span>円</td>
                            <td><span th:text="${cost.costPrice2}"></span>円<td>
                            
                              <div>[[${#temporals.format(cost.createAt, 'yyyy-MM-dd HH:mm')}]]</div>
                              <div>[[${#temporals.format(cost.updatedAt, 'yyyy-MM-dd
                                HH:mm')}]]</div>
                            
                          </tr>
                        </th:block>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; se-project 2024
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  
  <div id="updatemodal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">変更が完了しました</h5>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>




  <script th:inline="javascript">
    var csrfToken = /*[[${csrfToken}]]*/ 'csrfToken';
    var csrfHeader = /*[[${csrfHeaderName}]]*/ 'csrfHeader';
  </script>

  <!-- JS Libraies -->
  <script th:src="@{/assets/js/admin/jquery.dataTables.custom.js}"></script>
  <script th:src="@{/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/datatables.net-select-bs4/js/select.bootstrap4.min.js}"></script>
  <script th:src="@{/node_modules/jquery-ui-dist/jquery-ui.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>

  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/modules-datatables.js}"></script>

  <script th:src="@{/js/Cost/cost.js}"></script>

  <script th:src="@{/assets/js/admin/sep.dataTables.common.js}"></script>


</body>
</html>
