<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="jp">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport"><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Cache-Control" content="no-cache">
<title data-th-text="#{title} + #{title. constructionClassification} + #{title.register}"></title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/components.css">
  
  
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <div class="insert" th:insert="~{common/main-navbar :: main-navbar}"></div>
      <div class="insert" th:insert="~{common/sidebar :: sidebar}"></div>


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>工事区分管理</h1>
          </div>

          <div class="section-body">
            <h2 class="section-title mb-5">工事区分新規登録</h2>
            <p class="section-lead">
              <!-- We use 'DataTables' made by @SpryMedia. You can check the full documentation <a href="https://datatables.net/">here</a>. -->
            </p>

            <div class="row">
              <div class="col-12 col-lg-8">
                <form th:action="@{/cost/register}" th:object="${mstCost}" method="post">
                  <input type="hidden" name="transactionToken" th:value="${transactionToken}">
                  <input type="hidden" th:field="*{status}" value="1">
                  <div class="card">
                    <div class="card-body">

                      <!-- 顧客名の部分 -->
                      <div class="form-group">
                        <h6>
                          顧客名<span class="badge badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <div class="input-group">
                          <input th:type="text" class="form-control" id="corpName" name="corpName" style="height: 38px;">
                          <input type="hidden" th:field="*{custId}" id="corpId" value="0">
                          <div class="input-group-append">
							<button class="btn btn-primary search-button"
							        type="button" style="height: 38px; padding: 0 12px; font-size: 14px; line-height: 38px;">検索</button>
                          </div>
                        </div>
                      </div>
					  <script type="text/javascript">
					               function openWindow(url,name) {
					                  window.open(url, name, 'width=800,height=600');
					               }
					  </script>

                      <div class="form-group">
                        <h6>
                          工事区分分類<span class="badge badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <select class="form-control w-50" th:field="*{costGroupId}">
                          <th:block th:each="con : ${construction}">
                            <option th:value="${con.id}"><span
                                th:text="${con.costGroupName}"></span></option>
                          </th:block>
                        </select>
                      </div>


                      <div class="form-group">
                        <h6>
                          表示順<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <input type="number" pattern="[0-9]+" class="form-control"
                          th:field="*{viewDetail}"
                          th:classappend="${#fields.hasErrors('viewDetail')} ? 'is-invalid'">
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('viewDetail')}" th:errors="*{viewDetail}"></small>
                      </div>

                      <div class="form-group">
                        <h6>
                          作業内容<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <input type="text" class="form-control" th:field="*{costContents}"
                          th:classappend="${#fields.hasErrors('costContents')} ? 'is-invalid'">
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('costContents')}" th:errors="*{costContents}"></small>
                      </div>

                      <div class="form-group">
                        <h6>
                          単位<span class="badge badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <select class="form-control w-50" th:field="*{costUnitId}">
                          <th:block th:each="pref : ${unitId}">
                            <option th:value="${pref.codeName}"><span
                                th:text="${pref.codeName}"></span></option>
                          </th:block>
                        </select>
                      </div>

                      <div class="form-group">
                        <h6>
                          原状回復工事費用承諾書用単価<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <input type="number" class="form-control" th:field="*{costPrice}"
                          th:classappend="${#fields.hasErrors('costPrice')} ? 'is-invalid'">
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}"></small>
                      </div>

                      <div class="form-group">
                        <h6>
                          見積用単価<span class="badge badge-danger ml-1 mt-0">必須</span>
                        </h6>
                        <input type="number" class="form-control" th:field="*{costPrice2}"
                          th:classappend="${#fields.hasErrors('costPrice2')} ? 'is-invalid'">
                        <small id="" class="invalid-feedback"
                          th:if="${#fields.hasErrors('costPrice2')}" th:errors="*{costPrice2}"></small>
                      </div>

                      <div class="section-body">
                        <div class="buttons">
                          <a href="/cost" class="btn btn-light btn-lg" id="back" onclick="showConfirmModal(event)">前の画面へ戻る</a>
                          <button type="submit" class="btn btn-success btn-lg">確認</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      
          <!-- 顧客名用モーダルウィンドウ -->
		  <div class="insert" th:insert="~{common/modal_window :: customer_window(corpId, corpName, ${customer})}"></div>
      
  <!-- 編集モーダル -->
  <div id="model_back">
    <div class="insert"
      th:replace="common/modal_window :: modal_window(back_modal, '作成した工事区分情報が登録されていませんが宜しいでしょうか？')"></div>
  </div>
      
      
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; se-project 2024
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  </div>
  

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="../../assets/js/stisla.js"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="../../assets/js/scripts.js"></script>
  <script src="../../assets/js/custom.js"></script>

  <script th:src="@{/js/Cost/backModal.js}"></script>


  <!-- Page Specific JS File -->
  
</body>
</html>
